<% if (user.id === 'anonymous') { %>
   <h4><%- i18n('loggedInToAddAdvert') %></h4>
<% } else { %>
   <% if (amountOfAdverts > maxAmountOfAdverts) { %>
      <h4><%- i18n('youHaveAddedMaxAmount') %></h4>
      <a href="<%= getUrl('/userAdverts')  %>" class="env-button">
         <%- i18n('back') %>
      </a>
   <% } else { %>
      <form id="add-advert-form" class="env-form" method="post" action="<%= getUrl('/addAdvertForm') %>">
         <h5><%- i18n('addNewAdvert') %>:</h5>
         <div class="env-form-element">
            <label for="first-name" class="env-form-element__label"><%- i18n('title') %></label>
            <div class="env-form-element__control">
               <input type="text" class="env-form-input" id="title" name="title" required />
            </div>
         </div>
         <div class="env-form-element">
            <label for="last-name" class="env-form-element__label"><%- i18n('shortDescription') %></label>
            <div class="env-form-element__control">
               <input type="text" class="env-form-input" id="short-description" name="shortDescription" required />
            </div>
         </div>
         <div class="env-form-element">
            <label for="textarea" class="env-form-element__label"><%- i18n('description') %></label>
            <div class="env-form-element__control">
               <textarea class="env-form-input" id="description" name="description" rows="3" required></textarea>
            </div>
         </div>
         <div class="env-form-element">
            <button type="submit" class="env-button env-button--primary">
               <%- i18n('add') %>
            </button>
            <a href="<%= getUrl('/userAdverts')  %>" class="env-button">
                  <%- i18n('cancel') %>
            </a>
         </div>
      </form>
   <% } %>
<% } %>