<% if (user.id === 'anonymous') { %>
   <h4><%- i18n('loggedInToEditAdvert') %></h4>
<% } else { %>
   <form id="edit-advert-form" class="env-form" method="post" action="<%= getUrl('/editAdvert', { dsid: advert.dsid }) %>">
      <h5><%- i18n('editAdvert') %>:</h5>
      <div class="env-form-element">
         <label for="first-name" class="env-form-element__label"><%- i18n('title') %></label>
         <div class="env-form-element__control">
            <input type="text" class="env-form-input" id="title" name="title" value="<%- advert.title %>" required />
         </div>
      </div>
      <div class="env-form-element">
         <label for="last-name" class="env-form-element__label"><%- i18n('shortDescription') %></label>
         <div class="env-form-element__control">
            <input type="text" class="env-form-input" id="short-description" name="shortDescription" value="<%- advert.shortDescription %>" required />
         </div>
      </div>
      <div class="env-form-element">
         <label for="textarea" class="env-form-element__label"><%- i18n('description') %></label>
         <div class="env-form-element__control">
            <textarea class="env-form-input" id="description" name="description" rows="3" required><%- advert.description %></textarea>
         </div>
      </div>
      <div class="env-form-element">
         <button type="submit" class="env-button env-button--primary">
            <%- i18n('update') %>
         </button>
         <a href="<%= getUrl('/userAdverts') %>" class="env-button">
            <%- i18n('cancel') %>
         </a>
      </div>
   </form>
<% } %>