<div class="ws-advertising__list">
    <% if (adverts.length > 0) { %>
        <ul>
            <% for (var i = 0; i < adverts.length; i++) { %>
                <li>
                    <div class="env-embedded ws-advertising__list__item">
                        <a href="<%= getUrl('/advert', { dsid: adverts[i].dsid }) %>">
                            <div class="env-embedded__img-container">
                                <% if (adverts[i].imageSrc) { %>
                                    <img
                                        class="env-embedded__img"
                                        src="<%- adverts[i].imageSrc %>"
                                    />
                                <% } else if (standardImage) { %>
                                    <img
                                        class="env-embedded__img"
                                        alt="<%- standardImage.alt %>"
                                        src="<%- standardImage.src %>"
                                    />
                                <% } %>
                            </div>
                            <div class="env-embedded__block">
                            <h4 class="env-text"><%- adverts[i].title %></h4>
                            <p class="env-text env-text--muted env-embedded__text">
                                    <%- adverts[i].shortDescription %>
                                </p>
                            </div>
                        </a>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h4>Det finns inga annonser, bli den första som lägger upp en annons!</h4>
        <p>Lägg till en annons genom att vara inloggad och sedan klicka på "Se dina annonser" för att sedan klicka på "Lägg till annons"</p>
    <% } %>
    <% if (user.id !== 'anonymous') { %>
        <a href="<%= getUrl('/userAdverts') %>" class="env-button">Se dina annonser</a>
    <% } %>
</div>