<div
    id="report-modal"
    class="env-modal-dialog"
    role="dialog"
    aria-labelledby="myDialog"
    aria-hidden="true"
    tabindex="-1"
>
    <div class="env-modal-dialog__dialog env-modal-dialog__dialog--large">
        <section class="env-modal-dialog__content">
            <div class="env-modal-dialog__header">
                <h6 class="env-text env-modal-dialog__header__title">
                    <%- i18n('reportAdvert') %>
                </h6>
            </div>
            <div class="report-wrapper">
                <div class="env-modal-dialog__body">
                    <p class="env-text">
                        <%- i18n('reportAdvertText') %>
                    </p>
                    <textarea class="env-form-input" id="description" name="description" rows="6" required></textarea>
                </div>
                <div class="env-modal-dialog__footer">
                    <input
                        data-report-button
                        class="env-button env-button--danger"
                        type="button"
                        value="<%- i18n('reportAdvert') %>" />
                    <button
                        data-modal-dialog-dismiss
                        class="env-button env-button--link">
                            <%- i18n('cancel') %>
                    </button>
                </div>
            </div>
            <div class="report-success">
                <div class="env-modal-dialog__body">
                    <p class="env-text">
                        <%- i18n('mailSent') %>
                    </p>
                </div>
                <div class="env-modal-dialog__footer">
                    <button
                        data-modal-dialog-dismiss
                        class="env-button">
                            <%- i18n('back') %>
                    </button>
                </div>
            </div>
            <div class="report-fail">
                <div class="env-modal-dialog__body">
                    <p class="env-text">
                        <%- i18n('mailSent') %>
                    </p>
                </div>
                <div class="env-modal-dialog__footer">
                    <button
                        data-modal-dialog-dismiss
                        class="env-button">
                            <%- i18n('back') %>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>