<div class="ws-advertising__advert">
    <% if (standardImage) { %>
        <img alt="<%- standardImage.alt %>" src="<%- standardImage.src %>" />
    <% } %>
    <h2><%- advert.title %></h2>
    <p><%- advert.description %></p>
    <p><%- i18n('price') %>: <%- advert.price %> <%- i18n('SEK') %></p>
    <% if (advert.username || advert.phonenumber || advert.email) { %>
        <h3><%- i18n('contactInfo') %>:</h3>
        <ul>
            <% if (advert.username) { %>
                <li><%- i18n('name') %>: <%- advert.username %></li>
            <% } %>
            <% if (advert.phonenumber) { %>
                <li><%- i18n('phonenumber') %>: <%- advert.phonenumber %></li>
            <% } %>
            <% if (advert.email) { %>
                <li><%- i18n('email') %>: <%- advert.email %></li>
            <% } %>
        </ul>
    <% } %>
    <% if (advert.userId !== user.id) { %>
        <button data-report-advert class="env-button env-button--danger env-m-bottom--small" value="<%- advert.dsid %>"><%- i18n('reportAdvert') %></button>
    <% } %>
    <br />
    <a href="<%= getUrl('/') %>">< <%- i18n('back') %></a>
</div>