<div class="ws-advertising__list">
    <% if (adverts.length > 0) { %>
        <ul>
            <% for (var i = 0; i < adverts.length; i++) { %>
                <li>
                    <div class="env-embedded ws-advertising__list__item">
                        <div class="env-embedded__img-container">
                            <% if (standardImage) { %>
                                <img
                                    class="env-embedded__img"
                                    alt="<%- standardImage.alt %>"
                                    src="<%- standardImage.src %>"
                                />
                            <% } %>
                        </div>
                        <div class="env-embedded__block">
                            <h4 class="env-text"><%- adverts[i].title %></h4>
                            <p class="env-text env-text--muted env-embedded__text">
                                <%- adverts[i].shortDescription %>
                            </p>
                            <a href="<%= getUrl('/editAdvert', { dsid: adverts[i].dsid, title: adverts[i].title, shortDescription: adverts[i].shortDescription, description: adverts[i].description, price: adverts[i].price }) %>">
                                <button class="env-button env-button--primary"><%- i18n('editAdvert') %></button>
                            </a>
                            <button data-remove-advert class="env-button env-button--danger" value="<%- adverts[i].dsid %>">
                                    <%- i18n('removeAdvert') %>
                            </button>
                        </div>
                    </div>
                </li>
            <% } %>
        </ul>
    <% } else { %>
        <h5><%- i18n('youHaveNoAdvertAdd') %></h5>
    <% } %>
    <% if (adverts.length < maxAmountOfAdverts) { %>
        <a class="env-button ws-advertising__user__add-button" href="<%= getUrl('/addAdvert') %>"><%- i18n('addAAdvert') %></a>
    <% } else { %>
        <h4><%- i18n('youHaveAddedMaxAmount') %></h4>
    <% } %>
</div>